// parameters for samtools_flagstat

// get params

params.bam_file_type = "*{.bam,.bam.bai}"
params.bam_path = ""
params.sorted_bam_path = "$params.bam_path"+"$params.bam_file_type"
params.outdir = "./out"

//machine type
process {
    withName:SAMTOOLS_FLAGSTAT {
        machineType = 'mem1_ssd1_v2_x8'
  }
}
//parallel run
executor {
    queueSize = 99
}
