// parameters for samtools_flagstat

// get params

params.fasta_index = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-Fy4j2G04qB6zQK885B5Q8Pqp"
params.bedfile = "project-Fkb6Gkj433GVVvj73J7x8KbV:file-G9vKbv0433GjJv1j7gp0P9vx"
params.bam_file_type = "*{.bam,.bam.bai}"
parmas.bam_path = ""
params.sorted_bam_path = "$params.bam_path"+"$params.bam_file_type"

//machine type
process {
    withName:PICARDQC {
        machineType = 'mem1_ssd1_v2_x8'
  }
}
//parallel run
executor {
    queueSize = 99
}
